<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
</head>
<body>
	<h1>Je suis la page d'accueil</h1>

	<p>S'inscrire: <a href="/inscription">Create an user</a></p>
</body>
</html>