<!DOCTYPE html>
<html>
<head>
	<title>ERROR</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
</head>
<body>
	<h1>ERROR:: USERNAME INVALIDE!</h1>

	<a href="/">accueil</a>
	<a href="/inscription">inscription</a>
</body>
</html>