<!DOCTYPE html>
<html>
<head>
	<title>SHOW</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
</head>
<body>
	<h1>Personne N°<%=@id%></h1>

	<p>
		<%= @username %> <br> 
		<strong>BIOGRAPHIE</strong>: <%= @bio %>
	</p>

	<a href="/">ACCUEIL</a>
</body>
</html>